#CSVFF-Previous-Button {
	list-style-image: url("chrome://csvformfill/skin/arrLeft16.png");
}

#CSVFF-Next-Button {
	list-style-image: url("chrome://csvformfill/skin/arrRight16.png");
}

#CSVFF-OpenCSV-Button,
#CSVFormFill-context {
	list-style-image: url("chrome://csvformfill/skin/openFolder16.png");
}

#CSVFF-View-File {
	list-style-image: url("chrome://csvformfill/skin/tableList16.png");
}